.root {
  -fx-font-size: 12pt;
  /*-fx-background-image: url("poker.jpg");*/
  /*-fx-background-color: #557365;*/
}

.button {
  -fx-background-color: #fe9b06;
  -fx-border-color: transparent;
  -fx-text-fill: #ffffff;
  -fx-padding: 13px 14px;
  -fx-border-radius: 5px;
  -fx-background-radius: 5px;
}
#avanti2 {
  -fx-background-color: #fcfd47;
}
.button:hover {
  -fx-background-color: #f4ae46;
  -fx-cursor: hand;
}

#BottoneFermati {
  -fx-background-color: #988380;
}
#BottoneFermati:hover {
  -fx-background-color: #b49c99;
  -fx-cursor: hand;
}

.label {
  -fx-text-fill: #ffffff;
}

#PunteggioParziale {
  -fx-background-color: #f4ae46;
  -fx-text-fill: #ffffff;
  -fx-padding: 10px;
  -fx-background-radius: 10px;
}

#fraseTurno {
  -fx-text-fill: #ffffff;
}

#giocatoreTurno {
  -fx-text-fill: #ffffff;
}

#testoTutorial {
  -fx-text-fill: #000000;
  -fx-font-family: Arial;
}

#testoTutorial2 {
  -fx-text-fill: #000000;
  -fx-font-family: Arial;
  -fx-font-size: 10;
}

#bottoneTutorial {
  -fx-background-color: #afaeae;
  -fx-font-family: Arial;
  -fx-border-color: Black;
  -fx-text-fill: #000000;
  -fx-border-radius: 5px;
}
