.button {
  -fx-background-color: #876059;
  -fx-border-color: transparent;
  -fx-text-fill: #ffffff;
  -fx-padding: 13px 14px;
  -fx-border-radius: 5px;
  -fx-background-radius: 5px;
}

.button:hover {
  -fx-background-color: #988380;
  -fx-translate-y: -2;
  -fx-cursor: hand;
}

#nomePartita {
  -fx-padding: 13px 14px;
  -fx-border-radius: 5px;
  -fx-background-radius: 5px;
}

#choiceBox,
#listViewStyle,
#tableView,
#listViewStyle {
  -fx-font-family: "Arial";
}

.label {
  -fx-text-fill: #876059;
}
