.root {
  -fx-font-size: 12pt;
  /*-fx-background-image: url("Poker_background.jpg");*/
  -fx-background-color: #567568;
}

.label {
}

.button {
  -fx-background-color: #111827;
  -fx-border-color: transparent;
  -fx-background-radius: 0.75rem;
  -fx-text-fill: #ffffff;
  -fx-padding: 0.75rem 1.2rem;
}

.button:hover {
  -fx-background-color: #374151;
  -fx-cursor: hand;
}

.button:focused {
  -fx-box-shadow: none;
  -fx-outline: 2px solid transparent;
  -fx-outline-offset: 2px;
}

#BottoneFermati {
  -fx-background-color: #bf4e30;
}
#BottoneFermati:hover {
  -fx-background-color: #db6d4f;
  -fx-cursor: hand;
}

#PunteggioParziale {
  -fx-background-color: #f4d35e;
  -fx-border-radius: 50%;
  -fx-background-radius: 10%;
  -fx-alignment: center;
  -fx-padding: 5px;
  -fx-min-width: 50px;
  -fx-min-height: 40px;
  -fx-max-width: 50px;
  -fx-max-height: 40px;
}

#fraseTurno {
  -fx-background-color: #111827;
  -fx-text-fill: #ffffff;
  -fx-border-radius: 5px;
  -fx-background-radius: 5px;
  -fx-alignment: left;
  -fx-padding: 5px;
}

#giocatoreTurno {
  -fx-background-color: #d8cfaf;
  -fx-text-fill: #111827;
  -fx-border-radius: 5px; /* Regola il raggio dell'arrotondamento del bordo */
  -fx-background-radius: 5px; /* Regola il raggio dell'arrotondamento dello sfondo */
  -fx-alignment: right;
  -fx-padding: 2px;
}
